In [1]:
import pandas as pd
pd.read_csv("Resources/Week3-Day2-sales.csv")

,FullName,Email,Address,Zip,CreditCard,SalePrice
0,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
1,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
2,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
3,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
4,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49
...,...,...,...,...,...,...
95,Basil Rios,holloo1814@yahoo.com,605 Sloat Terrace,8108,5581 7245 8451 9384,937.14
96,Hipolito Rios,calefacient2049@gmail.com,1248 Fountain Boulevard,37077,2333 0264 5343 2022,645.82
97,Clayton Robertson,coner2015@live.com,230 Paper Parkway,57242,2414 3939 6501 2607,128.73
98,Tony Chandler,sexillion2061@live.com,118 Flood Plantation,70135,5581 8059 1883 1841,820.00
99,Cuc Mcgowan,dispatched1820@gmail.com,87 Louisiana Grove,70959,2678 4140 5531 3894,764.69